{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<span id="busuanzi_container_page_pv">
  <div class="padding border border-sub border-dotted fadein-left">
      本文总阅读量<span id="busuanzi_value_page_pv"></span>次
  </div>
</span>
  <span id="busuanzi_container_site_pv">
      <div class="padding border border-sub border-dotted fadein-bottom">
          本站总访问量<span id="busuanzi_value_site_pv"></span>次
      </div>
  </span>
<span id="busuanzi_container_site_uv">
   <div class="padding border border-sub border-dotted fadein-right">
       本站总访客数<span id="busuanzi_value_site_uv"></span>人
   </div>
</span>