{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<p class="text-small text-grey-dk-100 mb-0">
<span id="busuanzi_container_page_pv">
    reads:<span id="busuanzi_value_page_pv"></span>times, &emsp;</span>
  <span id="busuanzi_container_site_pv">
          visits:<span id="busuanzi_value_site_pv"></span>, &emsp;</span>
<span id="busuanzi_container_site_uv">
       visitors:<span id="busuanzi_value_site_uv"></span>.</span>
</p>